@media screen and (max-width:1199px){
  .container{padding-left:15px; padding-right:15px;}
  .header-search {width:300px;}
  .left-content, .right-content{width:25%;}
  .middle-content{width:50%;}
  .login-form.edit-profile-form{width:92%;}
  ul.tabs li{padding:10px 3px;}
  .language-text{right:15px; top: -15px;}
  .creatae-post-content{ width: 96%;}
}

@media screen and (max-width:1023px){
 .left-content, .right-content {width: 30%; }
 .middle-content {width: 40%; }
 .home-left-section {padding: 0 10px 25px; }
 .listing-post-followers{display:block;}
 .post-detail-left {width: 60%;}
 .post-detail-rgt{width:40%;}
 .post-profile-content{ width: 100%; margin-top: 10px;}
}
@media screen and (max-width:991px){
 header{height:auto;}
 .logo {padding: 0 0 15px; text-align: center; width: 100%; }
 .header-right {width: 100%; }
 .language-text a{ font-size: 13px;}
 .header-search {float: left; padding-right:0; width:100%; margin-bottom:15px; }
 .header-profile{ float: right}
}
@media screen and (max-width:767px){
  .home-left-section{width:100%;}
  .left-content, .middle-content, .right-content{width:100%;}
  .left-content,.middle-content{ padding: 0;}
  .login-form{width:92%; margin:20px auto;}
  .profile-listing-block li{width:100%;}
  .profile-image-block .container{width:100%;}
  .blue-btn, .normal-btn {font-size: 18px; padding: 7px 20px; }
  /*edit profile*/
  .edit-profile-popup-open .login-form.edit-profile-form{width:92%;}
  .edit-profile-form .login-form-block-edit-profile{width:100%;}
  .edit-profile-form form {padding: 20px;}
  /*post detail*/
  .post-detail-left, .post-detail-rgt {width: 100%; padding:0; }
  .post-detail-left{margin-bottom:30px;}
  /*setting page*/
  .contact-tab ul, .change-password-tab ul{width:100%;}
  ul.tabs li{width:100%;}
  .language-tab input.css-checkbox[type="checkbox"]:checked + label.css-label{background-position:85% -40px;}
  .language-tab input.css-checkbox[type="checkbox"] + label.css-label{background-position:85% 22px;}
  /*notification*/
  .notification-description {width: 70%; }
}
@media screen and (max-width:568px){
  .header-profile{float: left; margin: 15px 0 0;}
  .header-notification{ padding: 9px 18px;}
}